Thumbs.db
.DS_Store
.svn

/build/
/bin/

# Ignore object files
*.o
*.obj
*.class

# Ignore UNIX backup files
*~
*.swp

# Ignore Intellij metadata
**/*.iml
**/.idea
*.iml
.idea

# Ignore logs and core dumps
*.log
core.*
